# PyCity Schools Analysis

In [82]:
#dependecies
import pandas as pd
from pathlib import Path

#loading filess
# File to Load (Remember to Change These)
school_data = Path("Resources/schools_complete.csv") #generic starter code, some modifications
student_data = Path("Resources/students_complete.csv")#generic starter code, some modifications

# Read School and Student Data File and store into Pandas DataFrames
sl_data = pd.read_csv(school_data)#generic starter code, some modifications
st_data = pd.read_csv(student_data)#generic starter code, some modifications

# Combine the data into a single dataset.
combine_data = pd.merge(st_data, sl_data, how="left", on="school_name")#generic starter code, some modifications
combine_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [ ]:
# Calculate the total number of unique schools
# Using using built-in function unique by calling shool name column inside len function we can get the count of schools
school_count = len(combine_data["school_name"].unique())
school_count

15

In [139]:
# Calculate the total number of students
# Using using built-in function count on student ID(not student name, in case two student have the same name) to get number of student
student_count = combine_data["Student ID"].count()
student_count

39170

In [87]:
# Calculate the total budget
## Using using built-in function sum on column budget for total budget
total_budget =sl_data["budget"].sum()
total_budget

24649428

In [88]:
# Calculate the average (mean) math score
# Using using built-in function mean on column math score for average math score
average_math_score = combine_data["math_score"].mean()
average_math_score

78.98537145774827

In [89]:

# Calculate the average (mean) reading score
# Using using built-in function mean on column reading score for average reading score
average_reading_score =  combine_data["reading_score"].mean()
average_reading_score

81.87784018381414

In [90]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = combine_data[(combine_data["math_score"] >= 70)].count()["student_name"]#starter code
passing_math_percentage = passing_math_count / float(student_count) * 100#starter code 
passing_math_percentage

74.9808526933878

In [127]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
passing_reading_count = combine_data[(combine_data["reading_score"] >=70)].count()["student_name"] # starter code, some modifications
passing_reading_percentage = passing_reading_count/ float(student_count) * 100 #starter code, some modifications
passing_reading_percentage

85.80546336482001

In [124]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = combine_data[# starter code
    (combine_data["math_score"] >= 70) & (combine_data["reading_score"] >= 70)# starter code
].count()["student_name"]# starter code
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100# starter code
overall_passing_rate# starter code

65.17232575950983

In [93]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({
    "Total number of schools": [school_count],
    "Total Students": [student_count],
    "Total Budget": [total_budget],
    "Average math score": [average_math_score],
    "Average reading score": [average_reading_score],
    "% Passing math (the percentage of students who passed math)": [passing_math_percentage],
    "% Passing reading (the percentage of students who passed reading)": [passing_reading_percentage],
    "% Overall passing (the percentage of students who passed math AND reading)": [overall_passing_rate]})   

# Formatting 
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)# starter code
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)# starter code
#formatting Average math score, Average reading score, % Passing math (the percentage of students who passed math), 
# % Passing reading (the percentage of students who passed reading), "% Overall passing (the percentage of students who passed math AND reading),
# "% Overall passing (the percentage of students who passed math AND reading)
district_summary["Average math score"] = district_summary["Average math score"].map("{:,.2f}%".format)
district_summary["Average reading score"] = district_summary["Average reading score"].map("{:,.2f}%".format)
district_summary["% Passing math (the percentage of students who passed math)"] = district_summary["% Passing math (the percentage of students who passed math)"].map("{:,.2f}%".format)
district_summary["% Passing reading (the percentage of students who passed reading)"] = district_summary["% Passing reading (the percentage of students who passed reading)"].map("{:,.2f}%".format)
district_summary["% Overall passing (the percentage of students who passed math AND reading)"] = district_summary["% Overall passing (the percentage of students who passed math AND reading)"].map("{:,.2f}%".format)

# Display the DataFrame
district_summary

,Total number of schools,Total Students,Total Budget,Average math score,Average reading score,% Passing math (the percentage of students who passed math),% Passing reading (the percentage of students who passed reading),% Overall passing (the percentage of students who passed math AND reading)
0,15,"39,170","$24,649,428.00",78.99%,81.88%,74.98%,85.81%,65.17%

In [94]:
# Use the code provided to select the type per school from school_data
school_types = sl_data.set_index(["school_name"])["type"]# starter code
school_types# starter code

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [95]:
# Calculate the total student count per school from school_data
per_school_counts = combine_data["school_name"].value_counts()
per_school_counts

school_name
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: count, dtype: int64

In [141]:
# Calculate the total school budget and per capita spending per school from school_data

#getting the school by group and budget sum of each school using school_data(sl_data)
per_school_budget = sl_data.groupby("school_name")["budget"].sum()

per_school_capita = per_school_budget/per_school_counts
per_school_capita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [97]:
# Calculate the average test scores per school from school_data_complete
#Getting average by grouping schools and using mean on variable
per_school_math =combine_data.groupby("school_name")["math_score"].mean()
per_school_reading =combine_data.groupby("school_name")["reading_score"].mean()
per_school_reading,per_school_math

(school_name
 Bailey High School       81.033963
 Cabrera High School      83.975780
 Figueroa High School     81.158020
 Ford High School         80.746258
 Griffin High School      83.816757
 Hernandez High School    80.934412
 Holden High School       83.814988
 Huang High School        81.182722
 Johnson High School      80.966394
 Pena High School         84.044699
 Rodriguez High School    80.744686
 Shelton High School      83.725724
 Thomas High School       83.848930
 Wilson High School       83.989488
 Wright High School       83.955000
 Name: reading_score, dtype: float64,
 school_name
 Bailey High School       77.048432
 Cabrera High School      83.061895
 Figueroa High School     76.711767
 Ford High School         77.102592
 Griffin High School      83.351499
 Hernandez High School    77.289752
 Holden High School       83.803279
 Huang High School        76.629414
 Johnson High School      77.072464
 Pena High School         83.839917
 Rodriguez High School    76.842711
 Shelton High School      83.359455
 Thomas High School       83.418349
 Wilson High School       83.274201
 Wright High School       83.682222
 Name: math_score, dtype: float64)

In [168]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
#We run a boolean statement to get only the passing scores then group by school and get that count of passing scores
#same process for both reading and writing scores
per_school_math =combine_data[combine_data["math_score"] >= 70].groupby("school_name")["math_score"].count()
per_school_reading = combine_data[combine_data["reading_score"] >= 70].groupby("school_name")["reading_score"].count()
per_school_math,per_school_reading

(school_name
 Bailey High School       3318
 Cabrera High School      1749
 Figueroa High School     1946
 Ford High School         1871
 Griffin High School      1371
 Hernandez High School    3094
 Holden High School        395
 Huang High School        1916
 Johnson High School      3145
 Pena High School          910
 Rodriguez High School    2654
 Shelton High School      1653
 Thomas High School       1525
 Wilson High School       2143
 Wright High School       1680
 Name: math_score, dtype: int64,
 school_name
 Bailey High School       4077
 Cabrera High School      1803
 Figueroa High School     2381
 Ford High School         2172
 Griffin High School      1426
 Hernandez High School    3748
 Holden High School        411
 Huang High School        2372
 Johnson High School      3867
 Pena High School          923
 Rodriguez High School    3208
 Shelton High School      1688
 Thomas High School       1591
 Wilson High School       2204
 Wright High School       1739
 Name: reading_score, dtype: int64)